body {
    font-family: "Open Sans","Helvetica Bold","Helvetica", Arial;
}

.section {
    margin-bottom: 10px;
}

.legend-item {
    margin-right: 10px;
}

.map-info-container {
    display: flex;
}

.map-info {
    flex: 3;
}

.map {
    flex: 3;
    height: 600px;
}

#chart {
    height: 600px;
}

@media (max-width: 1024px) {
    .map-info-container {
        flex-direction: column;
    }
}