.section {
    margin-bottom: 10px;
}

#map {
    width: 100%;
    height: 600px;
}

.legend-item {
    margin-right: 10px;
}

.ageControl {
    display: flex;
    margin-bottom: 10px;
}

.ageControl label {
    flex: 1;
}

.ageControl input {
    flex: 9;
}

@media (max-width: 1024px) {
    .ageControl label {
        flex: 2;
    }
}

@media (max-width: 640px) {
    .ageControl label {
        flex: 3;
    }
}