body {
    font-family: 'Roboto', sans-serif;
}

.section {
    margin-bottom: 10px;
}

.legend-item {
    margin-right: 10px;
}

.map-info-container {
    display: flex;
}

.map-info {
    flex: 1;
}

.map {
    flex: 3;
    height: 600px;
}

#chart {
    height: 600px;
}

.ageControl {
    display: flex;
    margin-bottom: 10px;
}

.ageControl label {
    flex: 1;
}

.ageControl input {
    flex: 9;
}



@media (max-width: 1024px) {
    .map-info-container {
        flex-direction: column;
    }

    .ageControl label {
        flex: 2;
    }
}

@media (max-width: 640px) {
    .ageControl label {
        flex: 3;
    }
}