<!doctype html>
<html ng-app="app">
<head>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsduO715MGz0asWUbZfkqGo3EyObWpY-0"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/zingchart/2.5.2/zingchart.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/zingchart/2.5.2/modules/zingchart-populationpyramid.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/zingchart-angularjs/1.2.0/zingchart-angularjs.min.js"></script>-->
    <script src="app.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="app.css">

</head>
<body>
<div class="app-container" ng-controller="AppController as appCtrl">

    <div class="map-container">
        <div class="map-info-container">
            <div class="map section" class="section"></div>
            <div class="map-info section">
                <div id="chart"></div>
            </div>
        </div>

        <div class="section">
            <span class="legend-item" ng-repeat="label in ::appCtrl.legend">
                <i class="fa fa-square" aria-hidden="true" ng-style="{ color: label.color }"></i>
                <span ng-bind-html="label.label"></span>
            </span>
        </div>
    </div>

    <div class="control-container">
        <div class="section">
            <div class="ageControl">
                <label>From: (Age {{ appCtrl.minAge }})</label>
                <input type="range" ng-model="appCtrl.minAge" min="{{ ::appCtrl.MIN_AGE }}" max="{{ ::appCtrl.MAX_AGE }}" step="{{ appCtrl.STEP }}" ng-change="appCtrl.updateAge()" ng-model-options="{debounce: 100}" />
            </div>
            <div class="ageControl">
                <label>To: ({{ appCtrl.maxAge === appCtrl.MAX_AGE ? "All" : "Age " + (appCtrl.maxAge - 1) }})</label>
                <input type="range" ng-model="appCtrl.maxAge" min="{{ ::appCtrl.MIN_AGE }}" max="{{ ::appCtrl.MAX_AGE }}" step="{{ appCtrl.STEP }}" ng-change="appCtrl.updateAge()" ng-model-options="{debounce: 100}"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>