<!doctype html>
<html ng-app="app" ng-strict-di>
<head>
    <title>US County Level Sex Ratio By Age Group</title>
    <meta property="og:url" content="http://ihaochi.com/sex-ratio/" />
    <meta property="og:title" content="US County Level Sex Ratio By Age Group" />
    <meta property="og:description" content="There are counties like Bent, Colorado where men in their 20s outnumber women 672 to 100." />
    <meta property="og:image" content="http://ihaochi.com/sex-ratio/screenshot.png" />
    <meta property="fb:app_id" content="1781563628827046" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.0.0/rzslider.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="./dist/app.css">
</head>
<body>
<div class="app-container" ng-controller="AppController as appCtrl">
    <div class="section loading" ng-if="appCtrl.loading">
        <img src="http://i.imgur.com/UQ7Eh0b.gif" alt="Loading ..." />
        <h2>Loading ...</h2>
    </div>

    <div class="section">
        <h1>US County Level Sex Ratio By Age Group</h1>
    </div>

    <div class="control-container">
        <div class="section">
            <h3>Age Range</h3>
            <rzslider
                    rz-slider-model="appCtrl.minAge"
                    rz-slider-high="appCtrl.maxAge"
                    rz-slider-options="appCtrl.ageSliderOptions"></rzslider>
        </div>
        <div class="section">
            <h3>Highlight Counties (For Given Age Range)</h3>
            <div class="highlight-container">
                <div class="highlight-filter">
                    <h4>With Sex Ratio Disparity</h4>
                    <rzslider
                            rz-slider-model="appCtrl.highlightRatioMin"
                            rz-slider-high="appCtrl.highlightRatioMax"
                            rz-slider-options="appCtrl.ratioSliderOptions"></rzslider>
                </div>
                <div class="highlight-filter">
                    <h4>With Total Population</h4>
                    <rzslider
                            rz-slider-model="appCtrl.highlightPopulationMin"
                            rz-slider-high="appCtrl.highlightPopulationMax"
                            rz-slider-options="appCtrl.populationSliderOptions"></rzslider>
                </div>
            </div>
        </div>
    </div>

    <div class="display-container">
        <div class="section map"></div>
        <div class="section">
            <span>Ratio (male/female):</span>
            <span class="legend-item" ng-repeat="label in ::appCtrl.legend">
                <span class="fa-stack">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-circle fa-stack-1x" aria-hidden="true" ng-style="{ color: label.color, opacity: appCtrl.LEGEND_OPACITY }"></i>
                </span>
                <span ng-bind-html="label.display"></span>
            </span>
        </div>
        <div class="section chart"></div>

        <ihaochi-mouse-tooltip ng-show="appCtrl.hoverCounty" class="mouse-tooltip">
            <div>{{ appCtrl.hoverCounty.get('County Name') }}, {{ appCtrl.hoverCounty.get('State Abbr') }}</div>
            <div>
                {{ appCtrl.hoverCounty.get('male') }} <i class="fa fa-male" aria-hidden="true"></i> :
                {{ appCtrl.hoverCounty.get('female') }} <i class="fa fa-female" aria-hidden="true"></i>
            </div>
            <div>
                (Ratio: {{ appCtrl.hoverCounty.get('male') / appCtrl.hoverCounty.get('female') * 100 | number:0 }} : 100)
            </div>
        </ihaochi-mouse-tooltip>
    </div>
</div>

<div class="section share-container">
    <div>Share on:</div>
    <div class="share-links">
        <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//ihaochi.com/sex-ratio/"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
        <a href="https://twitter.com/home?status=http%3A//ihaochi.com/sex-ratio/"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
        <a href="https://plus.google.com/share?url=http%3A//ihaochi.com/sex-ratio/"><i class="fa fa-google-plus" aria-hidden="true"></i> Google+</a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//ihaochi.com/sex-ratio/"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a>
        <a href="https://pinterest.com/pin/create/button/?url=http%3A//ihaochi.com/sex-ratio/&media=http%3A//ihaochi.com/sex-ratio/screenshot.png"><i class="fa fa-pinterest" aria-hidden="true"></i> Pinterest</a>
    </div>
</div>

<div class="section credit-container">
    made by <a href="http://ihaochi.com/" target="_blank">haochi</a> with <img class="haochinfinity" src="https://cdn.rawgit.com/haochi/haochi.github.io/70db6296/emoji/haochinfinity.gif" alt="haochi" /> &middot;
    <a href="https://github.com/haochi/sex-ratio" target="_blank">code on github</a> &middot;
    source: <a href="https://factfinder.census.gov/bkmk/table/1.0/en/PEP/2015/PEPAGESEX" target="_blank">U.S. Census Bureau</a>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsduO715MGz0asWUbZfkqGo3EyObWpY-0"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.0.0/rzslider.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/1.2.1/chroma.min.js"></script>
<script src="https://cdn.rawgit.com/haochi/angular-mouse-tooltip/b495ecb1/dist/angular-mouse-tooltip.min.js"></script>
<script src="./dist/app.js"></script>
</body>
</html>